.btn-cep {
    background-color: var(--branco);
    color: var(--verde-escuro);
    border: 1px solid var(--verde-escuro);
    border-radius: 0 5px 5px 0;
}

.btn-cep:hover {
    background-color: var(--verde-escuro);
    color: var(--branco);
    border: 1px solid var(--verde-escuro);
}

.navbar {
    background-color: var(--verde) !important;
}

.erro-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: var(--bs-danger);
}